* {
    padding: 0;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.Header {
  width: 100%;
  height: auto;
  /* padding: 0; */
  padding-bottom: 10px;
}

.Light .Header{
  background-color: #fff;
  border-bottom: solid 2px rgb(135, 135, 135);
}
.Dark .Header{
  background-color: #000;
  border-bottom: solid 2px rgb(0, 0, 0);
}


.Dark .Logo {
  color: #fff;
}

.Light .Logo {
  color : rgb(252, 117, 33);
}

.Logo{
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin-right: 100px;
}

.Logo img{
  margin-left: 1%;
  margin-top: 10px;
  height: 30px;
  transition: 2s;
}

.Logo img:hover{
  transform: rotate(270deg);
}

.Buttons{
  display:inline-block;
}

/*----- button-top -------*/

/* Dark color */
.Dark .button-top,.button-top:after{
  background: #000;
  color: #fff;
  box-shadow: 0px 2px 1px #f66f00;
}
.Dark .button-top:hover{
  box-shadow: 0px 4px 4px #ffd0aa;
}
/* Light color */
.Light .button-top,.button-top:after{
  background: #fff;
  color: #000;
  box-shadow: 0px 2px 1px #f66f00;
}
.Light .button-top:hover{
  box-shadow: 0px 4px 4px #ffd0aa;
}


.button-top,
.button-top:after {
  padding-left:10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  border: 0;
  margin-right: 20px;
  margin-bottom: 6px;
  position: relative;

  transition: 0.5s;
}

.button-top:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'WLCSC';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--slice-0);
}

.button-top:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
/*----- button-top -------*/

/*--- Switch ---*/
.Change {
  position:absolute;
  right: 1%;
  top:10px;
  margin-right: 0px;
  margin-bottom: 10px;
  display:inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 106, 65);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.Dark .slider:before{
  box-shadow:  2px 0px 3px 3px #934019;
}

.Light .slider::before{
  box-shadow:  -2px 0px 3px 3px #585756;
}

input:checked + .slider {
  background-color: #6a6969;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6a6969;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---- Switch end ---- */


/*---- Main ----  */

/* Typing */
.Typing {
  position: absolute;
  top:30%;
  left:50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.Dark .Typing {
  color: #fff;
}

.Light .Typing{
  color :rgb(252, 117, 33);
}

.react-p5{
  overflow: hidden;
}

.Dark .react-p5{
  background-color: #000;
}


/* Advantage */

.Advantage{
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}

.Light .Advantage {
  background-color: #fff;
  color: #000;
}

.Dark .Advantage{
  background-color: #000;
  color: #fff;
}

.AdvCard{
  width: 250px;
  height:400px;
  display:inline-block;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 53px ;
}

.AdvCard img{
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.AdvCard h2{
  margin-bottom: 10px;
}

.Light .AdvCard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Dark .AdvCard{
  /* box-shadow: rgba(255, 255, 255, 0.5) 0px 50px 100px -20px, rgba(255, 255, 255, 0.633) 0px 30px 60px -30px; */
  box-shadow: rgba(240, 133, 46, 0.4) 5px 5px, rgba(240, 133, 46, 0.3) 10px 10px, rgba(2240, 133, 46, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.Course {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.Dark .Course{
  background-color: #000;
  color: #fff;
}

.Light .Course{
  background-color: #fff;
  color: #000;
}

.CourseCard {
  display: flex;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 50px;

  border-radius: 10px;
}

.Light .CourseCard {
  
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.Dark .CourseCard{
  background-color: rgb(0, 0, 0);
  /* box-shadow: rgba(5, 5, 20, 0.5) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.5) 0px 9px 40px -9px inset; */
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  /* box-shadow: rgba(3, 3, 3, 0.8) 0px 10px 20px 10px inset, rgba(0, 0, 0, 0.8) 0px 5px 10px -9px inset; */
  box-shadow: 0px 1px 2px 0px rgba(255, 115, 0, 0.7),
            1px 2px 4px 0px rgba(255, 115, 0, 0.7),
            2px 4px 8px 0px rgba(255, 136, 0, 0.7),
            2px 4px 16px 0px rgba(255, 238, 0, 0.7);
}

.flipped{
  direction: rtl;
}

.CourseCard .Text{
  width: 30%;
  margin-left: 15%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.flipped .Text{
  margin-right: 15%;
  margin-left: 0;
}

.CourseCard .ImgBox{
  width: 50px;
  margin-left: 20%;
}

.flipped .ImgBox{
  margin-right: 20%;
  margin-left: 0;
}

.ImgBox img{
  background-color: #fff;
  height: 100px;
  border-radius: 10px;
}

.Footer{
  padding: 30px;
}

.Dark .Footer{
  background-color: #000;
  color: #fff;
}

.Light .Footer{
  background-color: #fff;
}

.social{
  text-align: center;
}

.social li {
  display: inline;
  padding: 20px;

  transition: .5s;
  opacity: 0.7;
}

.social li:hover{
  opacity: 1;
}

.fa{
  font-size: 25px;
}

.Dark .social a{
  color: #fff;
}

.Light .social a{
  color: #fff;
}